node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.DS_Store

project_copies/
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock


yarn.lock
.idea/
.vscode/
Thumbs.db

public/avatars/*
!public/avatars/.keep

docker-compose.override.yml